form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width:70%;
    min-width: 570px;
    margin-left:6.5%;
    margin-top: 50px;
}


form h1 {
    font-family: 'Aleo', serif;
    color: white;
    font-size: 80px;
}

form p {
    font-family: 'Aleo', serif;
    font-size: 20px;
    color:white;
    margin-top: 20px;
    font-style: italic;
    font-weight: 300;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 18px;
    border-radius: 16px;
    margin-top: 40px;
}
#search[value] {
   color: rgb(242, 120, 92);
   font-family: 'Aleo', serif;
   font-weight: normal;
   font-size: 24px;
}
#search {
    flex: 1;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    padding: 5px;
}

input[type="submit"] {
    background-color: rgb(13, 96, 111);
    border: none;
    padding: 10px 32px;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 24px;
    color: white;
    border-radius: 10px;
}