.destinations {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto;
    margin-bottom: 0;
    width: 100%;
}

.destination-img {
    border-radius: 16px;
    width: 800px; 
    transition: all 0.5s ease-in 0.3s;
}

.distinations h2 {
   margin-top: 40px;
}

.block-list-images {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 45px;
    overflow: hidden;
}


.destination-name {
    position: absolute;
    left: 14px;
    bottom: 40px;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.08em;
    color: white;
}

.position-indicator {
    margin: 25px auto;
    text-align: center;
}

.indicator {
    display: inline-block;
    padding: 10px;
    margin: 3px;
    border-radius: 50%;
    background-color: rgba(242, 120, 92, 0.5);
}

.indicator-center {
    background-color: rgba(242, 120, 92, 1) ;
}

.box-distination-img {
    position: relative;
    margin:0 30px;
}

.block-with-buttons-left-right {
    visibility: hidden;
    position: absolute;
    top: 38%;
    bottom: 52%;
    left: 0;
    right: 0; 
}

.relative-block-with-buttons {
    position: relative;
    top: 0;
    bottom: 0;
    margin:0 auto;
    width: 360px;
    transition: all 0.5s ease-in 0.3s;
}

.img-button-left {
    position: absolute;
    top: 6px;
    left: 0;
}

.img-button-right {
    position: absolute;
    top: 6px;
    right: 0;
}

@media (max-width: 1044px) {
    .destination-img {
        width: 600px;  
    }
}

@media (max-width: 980px) {

    .destinations {
        margin: 70px auto;
     }

    .destination-img {
        width: 450px;  
    }
}

@media (max-width: 656px) {

    .destinations {
        margin: 50px auto;
     }

    .destination-img {
        width: 450px;  
    }
    .destination-name {
        top: 15px;
        left: 15px;
        font-size: 24px;
    }

    .block-with-buttons-left-right {
        visibility: visible;
    }

    .relative-block-with-buttons {
        width: 450px;
    }

    .indicator {
        padding: 8px;
    }
}

@media (max-width: 480px) {

    .destinations {
       margin: 30px auto;
    }

    .destination-img {
        width: 360px;  
    }

    .destination-name {
        top: 15px;
        left: 15px;
        font-size: 20px;
    }

    .block-with-buttons-left-right {
        top: 44%;
        bottom: 46%;
    }

    .relative-block-with-buttons {
        width: 360px;
    }

    .position-indicator {
        margin: 8px auto;
    }

    .indicator {
        padding: 6px;
    }

}

@media (max-width: 390px) {

    .position-indicator {
        position: absolute;
        left: 35%;
        right: 35%;
        bottom: 62px;
    }

    .indicator {
        padding: 4px;
    }
}