.destinations {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto;
    margin-bottom: 0;
    width: 100%;
}

.destination-img {
    border-radius: 16px;
}

.distinations h2 {
   margin-top: 40px;
}

.block-list-images {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 45px;
    overflow: hidden;
}

.destination-img {
    width: 800px;
    
}

.destination-name {
    position: absolute;
    left: 14px;
    bottom: 40px;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.08em;
    color: white;
}

.position-indicator {
    margin: 25px auto;
    text-align: center;
}

.indicator {
    display: inline-block;
    padding: 10px;
    margin: 3px;
    border-radius: 50%;
    background-color: rgba(242, 120, 92, 0.5);
}

.indicator-center {
    background-color: rgba(242, 120, 92, 1) ;
}

.box-distination-img {
    position: relative;
    margin:0 30px;
}